.card-container {
    display: flex;
    flex-direction: column;
    background-color: #24e0e0;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
    -moz-osx-font-smoothing: greyscale;
    backface-visibility:  hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}